/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Estilização do cabeçalho */
/* header {
    background-color: #00274C;
    color: white;
    padding: 20px;
    font-size: 24px;
} */

/* Container da timeline */
#timeline {
    width: 90%;
    max-width: 1200px;
    height: 500px;
    margin: 40px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
