*{
    font-family: 'Roboto', sans-serif;
}

#more-info{
    display: flex;
    justify-content: center;
    gap:50px;
    font-size: 25px;
}

.more-info-button{
    background-color: #ff7e00;
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: bold;
    /* color:white; */
}

#titulo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vw;
    overflow: hidden;
    background-color: black;
  }
  
  #titulo::before { /*só é para separar a imagem do texto e poder colocar transparencia*/
    content: ""; /* cria pseudoelemento, necessário quando se usa 'before'*/
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/public/circuibras.JPG");
    background-size: cover;
    background-position: top center;
    opacity: 0.4; 
    z-index: 0;
  }
  
  #titulo h1 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 40px;
  }

  #introducao {
    display: flex; /* Alinha as colunas lado a lado */
    justify-content: center; /* Centraliza as colunas no contêiner */
    align-items: center; /* Faz as colunas ficarem do mesmo tamanho */
    padding:2rem 10rem;

  }
  
  .coluna {
    padding: 20px; 
    box-sizing: border-box;
    line-height: 1.6;
  }
  
  .coluna img{
    width: 20vw;
  }
  
  #patrocinadores {
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: #111;
    color: white;
    position: relative;
    z-index: 1;
  }

  #patrocinadores::after{ /*efeito de 'fade'*/
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    height:50px; 
    width: 100%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
    z-index: 2;
    pointer-events: none;
  }

  #patrocinadores h1 {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 30px;
    font-weight: normal;
    margin-bottom:3rem;
  }
  
  #main-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  #second-grid { /*separa os logos dos institutos do resto*/
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  #main-grid img,
  #second-grid img {
    max-height: 150px;
    max-width: 250px;
    object-fit: contain;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
    transition: transform 0.3s ease;
  }
  
  #main-grid img:hover,
  #second-grid img:hover {
    transform: scale(1.05);
  }  

  #tier-list-container{
    background-image: url("../images/public/high-compind.JPG");
    background-position: center left;
  }

  #tier-list-text{
    position: absolute;
    z-index: 1;
    margin:80px 100px;
    width:35%;
  }
  #tier-list-text h1{
    color:white;
    font: bold 70px 'Oswald'; 
    line-height: 0.2;
    text-shadow: 0px 0px 20px black;
  }
  #tier-list-text p{
    color:white;
    font:normal 18px 'Roboto';
    margin-top:15px;
    line-height: 1.3;
  }

  #tier-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4rem 5rem;  
    height: 1000px;
    gap:10px;
    
  }
  
  .tiers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    border:4px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
  }

  .tiers ul{
    margin:20px;
    font-size:20px;
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
  }

  .tiers ul li{
    margin-bottom:2vw;
  }
  
  h2 {
    color: white;
    font:bold 40px 'Roboto';
    width:100%;
    padding-top:1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    margin:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }

  h3{
    color:black;
    font:bold 50px 'Roboto';
  }

  .tiers p{
    color:#525252cc;
    font-size: 14px;
  }
  